@media only screen and (max-width: 740px) {
    main {
        width: 740px;
        max-width: 740px;
    }
    .header-content {
        max-width: 100%;
        height: 43px;
        display: flex;
        background-color: #ccc;
        justify-content: space-between;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0 12px;
    }
    .header-content-phone img,
    .header-content-location img {
        width: 18px;
        height: 18px;
        margin-right: 4px;
    }
    .listPhone {}
    .listPhone .phoneNumber {
        display: inline-block;
        margin: 8px;
    }
    .hero {
        position: relative;
    }
    .hero .hero-background {
        width: 100%;
        height: 450px;
        z-index: -101;
    }
    .hero .hero-logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -80px;
        width: 491px;
        height: 450px;
        margin-top: 0px;
        margin-left: 0px;
        z-index: 100;
    }
    .hero .hero-content {
        position: absolute;
        width: 548px;
        height: 77px;
        left: 50%;
        transform: translate(-50%);
        top: 226px;
        font-size: 2rem;
    }
    .wrapper {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 310px;
    }
    .cta {
        display: flex;
        padding: 6px 10px;
        text-decoration: none !important;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
        color: white !important;
        background: transparent;
        border: solid 1px #fff;
        text-decoration: none;
        color: #fff;
        transition: 1s;
        box-shadow: 3px 3px 0 black;
        transform: skewX(-15deg);
    }
    .cta svg {
        width: 16px;
        height: 20px;
    }
    span:nth-child(2) {
        width: 12px;
        margin-left: 10px;
        position: relative;
        top: 12%;
    }
    /* Giới thiệu chung */
    .introduction {
        padding: 30px 20px;
        height: 960px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .introduction-content {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .introduction-content .content-desc {
        font-size: 2rem;
        text-align: center;
        text-justify: inter-word;
        margin-bottom: 20px;
    }
    .introduction-content .content-title {
        text-align: center;
        width: 80%;
        height: 80px;
        border: 1px solid #000;
        font-size: 5rem;
        font-weight: bold;
        line-height: 80px;
        margin-bottom: 30px;
        font-family: Pattaya;
    }
    .introduction-image {
        /* padding-left: 10px; */
    }
    .introduction-image .image-item {
        /* left: 0; */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-bottom: 20px;
    }
    /* Không gian quán */
    .space {
        height: 700px;
    }
    .space .space-content {
        position: absolute;
        color: #FFFFFFD4;
        top: 20%;
        padding: 0 30px;
        font-size: 3.1rem;
        text-align: justify;
        text-align: center;
    }
    .slide {
        position: absolute;
        top: 50%;
    }
    /* Buffet */
    .buffet {
        height: 3700px;
        background-color: rgba(217, 217, 217, 0.44);
        text-align: center;
        padding: 30px 0 0 0;
        position: relative;
    }
    .buffet .buffet-price {
        position: absolute;
        width: 600px;
        top: 150px;
        left: 50%;
        font-size: 2.6rem;
        font-weight: bold;
        transform: translate(-50%);
    }
    .buffet .buffet-price b {
        color: #F5BA00;
        font-size: 3.8rem;
    }
    .grid-container {
        position: absolute;
        top: 280px;
        margin-top: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
    }
    /* Set Món */
    .set {
        padding-bottom: 40px;
    }
    /* Menu */
    /* feedback */
    .feedback {
        overflow: hidden;
    }
    /* Why choose Huynh De Quan */
    .whychooseus-content {
        padding: 30px 40px;
        text-align: center;
        font-size: 2.8rem;
    }
    .whychooseus-wrap {
        padding: 0 20px;
        display: flex;
        justify-content: space-around;
    }
    .whychooseus-item {
        margin-right: 8px;
    }
    .whychooseus-wrap .whychooseus-item:last-child {
        margin-right: 0;
    }
    /* Ưu đãi, khuyến mãi */
    .promotion {
        position: relative;
        height: 1280px;
        background-image: url(./image/background-uudai.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .promotion-info {
        top: 120px;
        width: 500px;
        max-width: 100%;
        left: 50%;
        transform: translate(-50%);
    }
    .promotion-info .old-price {
        font-size: 3.2rem;
    }
    .promotion-info .new-price {
        font-size: 4rem;
    }
    .promotion-info .discount {
        font-size: 4.4rem;
    }
    .promotion-info .promotion-info-content {
        font-size: 4rem;
    }
    .promotion-info .fast-book {
        font-size: 4.4rem;
    }
    .promotion-form {
        width: 480px;
        height: 60vh;
        top: 680px;
        left: 50%;
        transform: translate(-50%);
    }
    /* Footer */
    .footer-contact {
        position: relative;
        width: 100%;
        left: 0;
        height: 500px;
        text-align: center;
        padding-top: 20px;
    }
    .footer-contact-title::after {
        width: 500px;
    }
    .footer-contact-detail {
        padding: 0 60px;
    }
    .contact-detail-address,
    .contact-detail-phone,
    .contact-detail-time {
        font-size: 2.0rem;
    }
    .footer-thanks {
        position: relative;
        right: 0;
        width: 100%;
        max-width: 100%;
        height: 500px;
        text-align: center;
        padding-top: 20px;
        background-image: url(./image/Footer.png);
    }
}